body {
    font-family: Manjari, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 27px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 18px;
}

a, a:link {
    color: rgb(168, 109,147);
    line-height: 1.2;
}

a:visited {
    color: rgb(235, 88, 179);
}

a:hover {
    color: rgb(244, 158, 215);
}

a:active {
    color: rgb(247, 20, 173);
}